*, *::before, *::after{
    margin: 0;
    padding: 0;
    font-family: helvetica;
    /* box-sizing: border-box; */
    /* list-style: none; */
    /* text-decoration: none; */
}

body{
    background-color: white;
}

.header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100px;
    background-color: #ff5e5b;
    padding-left: 50px;
}

.dashboard{
    display: flex;
}

    .sidePanel{
        width: 20%;
        height: 550px;
        background-color: #d8d8d8;
        font-size: 20px;
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

        .projectList, .todoList{
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        
        .project{
            border: none;
            border-radius: 10px;
            background-color: #efefef;
            height: 50px;
            width: 240px;
            font-size: 15px;
        }

        .project:hover{
            background-color: #00cecb;
            opacity: 0.8;
        }

        .project:active{
            background-color: #00cecb;
            opacity: 1;
        }

        .createProject, .editProject, .createTodo, .deleteProject{
            width: 150px;
            border: none;
            border-radius: 20px;
            font-size: 16px;
            background-color: #ffed66;
            padding: 10px;
        }

        .deleteProject{
            background-color: red;
        }

        .createProject:hover, .editProject:hover, .createTodo:hover, .deleteProject:hover{
            background-color: #ffb238;
            opacity: 0.9;
        }

        .createProject:active,.editProject:active, .createTodo:active, .deleteProject:active{
            background-color: #ff773d;
        }

    .mainPanel{
        width: 80%;
        height: 550px;
        background-color: white;
        font-size: 20px;
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .buttonBar{
        width: 1000px;
        display: flex;
        justify-content: space-between;
    }
    
    .todoContainer{
        display: flex;
        gap: 5px;
    }

        .todoItems{
            border: none;
            border-radius: 10px;
            background-color: #efefef;
            height: 50px;
            width: 800px;
            font-size: 15px;
        }

        .todoItemsComplete{
            text-decoration: line-through;
        }

        .todoEditButton{
            border: 1px solid black;
            border-radius: 10px;
            background-color: #efefef;
            height: 50px;
            width: 50px;
            font-size: 15px;
        }

        .todoDeleteButton{
            border: 1px solid black;
            border-radius: 10px;
            background-color: #efefef;
            height: 50px;
            width: 50px;
            font-size: 15px;
        }

        .todoInfoButton{
            border: 1px solid black;
            border-radius: 10px;
            background-color: #efefef;
            height: 50px;
            width: 50px;
            font-size: 15px;
        }

/* Project and Item Popup */
.projectPopup{
    display: none;
}

.itemPopup{
    display: none;
}

    .projectForm{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .projectInput{
        border: none;
        border-radius: 10px;
        background-color: #efefef;
        height: 50px;
        width: 225px;
        font-size: 15px;
        padding-left: 15px;
    }

    .projectSubmit, .projectCancel{
        border: none;
        border-radius: 10px;
        background-color: #20a39e;
        height: 30px;
        width: 200px;
        font-size: 15px;
        opacity: 0.8;
    }

    .itemSubmit, .itemCancel{
        border: none;
        border-radius: 10px;
        background-color: #20a39e;
        height: 40px;
        width: 100px;
        font-size: 15px;
        opacity: 0.8;
    }

    .projectCancel, .itemCancel{
        background-color: #f55536;
    }

    .projectSubmit:hover, .projectCancel:hover, .itemSubmit:hover, .itemCancel:hover{
        opacity:1;
    }